<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://use.fontawesome.com/e924723a01.js"></script>
  </head>
  <body>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <h5 class="my-0 mr-md-auto font-weight-normal">Weather App</h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="#">О нас</a>
              <a class="p-2 text-dark" href="#">Контакты</a>
            </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-6">
              <form class="" action="" method="post">
                {% csrf_token %}
                <label for="city" class="">Название города</label>
                  {{ form.name }}
                <button type="submit" name="send" class="form-control btn btn-success mt-2" value="узнать">Узнать</button>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <h3>Информация</h3>
             {%  for info in all_info %}

            <div class="alert alert-danger">
                <b>Город :</b> {{ info.city}}<br>
                <form action="" method="get"> <a href="/detele/{{ info.id }}" class="pull-right" style="color: black;"> <i class="fa fa-trash-o" aria-hidden="true"></i></a> </form>
                <b>Температура :</b> {{info.temp}} <span>градусов</span> <br>
                <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="" class="img-thumbnail">
            </div>

              {% endfor %}
          </div>
        </div>
      </div>
  </body>
</html>
